.contact {
    height: 100%;
    padding-top: 40vh;
    padding-left: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: left;
    background: 
    linear-gradient(to right,rgba(39,39,39,1) 0%, rgba(39,39,39,0.9724264705882353) 45%, rgba(39,39,39,0.3533788515406162) 100%),
    url("../../img/model.jpg") center right;
    background-size: cover;

    h1 {
        font-family: 'Roboto Mono', monospace;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2.6rem;
        font-size: 1.1rem;
    }

    .email, .phone, .location {
        margin-left: .3rem;
        font-family: 'Roboto Mono', monospace;
    }

    .text-secondary {
        font-family: 'Nunito', sans-serif;
        margin-top: .5rem;
    }
  }