.projects {
    padding-bottom: 2rem;

    #{&}__bio-image {
    height: 30vh;
    width: 100%;
    background: 
    linear-gradient(90deg, rgba(39,39,39,0.8492647058823529) 0%, rgba(39,39,39,0.5019257703081232) 100%),
    url("../../img/model-mobile.jpg") center;
    background-size: cover;
    background-position: 68% 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

    .text-secondary {
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .hint {
        color:#fff;
        font-size: .2em;
        display: block;
        text-align: center;
        padding-top: .7rem;
    }
    
    #{&}__items {
        width: 66vw;
        margin: 2rem auto 0 auto;
        display: grid; 
        grid-template-columns: 1fr;

        &__item {
            position: relative;
            border-bottom: 5px solid $secondary-color;
            overflow: hidden;
            margin-top: .6rem;
            margin-bottom: 4rem;
            cursor: pointer;
    
            img {
                width: 100%;
            }
    
            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                height: 100%;
                width: 100%;
                background: $secondary-color;
                opacity: 0.7;
                @include transition-ease;
            }
    
            &:hover {
                &::after {
                    top: 0%;
                }
                .projects__btn {
                    opacity: 1;
                    visibility: visible;
                }
            }
            }

            .projects__name {
                font-family: 'Maven Pro', sans-serif;
                font-size: 1.2rem;
                text-align: left;  
                color: $secondary-color; 
                
                .projects__details {
                    font-family: 'Nunito', sans-serif;
                    margin: .2rem auto;
                    display: block;
                    font-size: .8rem;
                    color: #fff;
                }
        }
    }

    &__btns {
        position: absolute;
        top: 0%;
        height: 100%;
        width: 100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: center;
    }

    &__btn {
        font-size: 2.3rem;
        visibility: hidden;
        opacity: 0;
        color: #000;
        @include transition-ease;

        svg, path{
            height: 2.3rem;
            width: 2.3rem;
            @include transition-ease;

        }

        svg:hover path {
            fill:#fff
        }
        
        &:hover {
            color: #fff;
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        right: .7rem;
        margin-bottom: 1rem;
        transform:
        rotate(90deg)
        translate(-3rem, -5rem);
    };
}

